<% layout("../layouts/boilerplate.ejs"); %>

    <body>
        <div class="row my-4">
            <div class="col-8 offset-2">
                <h3 class="my-3">Create New Listing</h3>
                <form method="POST" action="/listings" autocomplete="off" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-2">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listings[title]" placeholder="Enter Title"
                            required>
                        <div class="invalid-feedback">Title is required</div>
                    </div>
                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listings[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please write a description</div>
                    </div>
                    <div class="mb-2">
                        <label for="category" class="form-label">Choose a Category:</label>
                        <select id="category" class="form-control" name="listings[category]" required>
                            <option value="Farm">Farm</option>
                            <option value="Mountain">Mountain</option>
                            <option value="Room">Room</option>
                            <option value="Arctic">Arctic</option>
                            <option value="Camping">Camping</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" class="form-control" name="listings[image]" required>
                    </div>
                    <div class="row">
                        <div class="mb-2 col-md-4">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" name="listings[location]"
                                placeholder="Enter Location" required>
                            <div class="invalid-feedback">Mention the location of your listing</div>
                        </div>
                        <div class="mb-2 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="listings[country]" placeholder="Enter Country"
                                required>
                            <div class="invalid-feedback">Country name is required</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listings[price]" placeholder="Enter Price"
                            required>
                        <div class="invalid-feedback">Enter a valid price</div>
                    </div>

                    <button class="btn btn-success mt-2 list-btn">Add Listing</button>
                </form>
            </div>
        </div>
    </body>