<% layout("../layouts/boilerplate.ejs"); %>
    <div class="my-4 offset-3 col-6">
        <h2>Login to The Cozy Corner</h1>
        <form action="/login" method="POST" class="needs-validation" autocomplete="off" novalidate>
            <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" name="username" required>
                <div class="invalid-feedback">Enter a unique Username</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                <div class="invalid-feedback">Password is required</div>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>